<!-- Discourse thread -->
<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'http://discuss.fablabs.io/',
                     discourseEmbedUrl: 'https://discuss.fablabs.io/t/curating-fablabs-org/4186/1' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>

<!-- Footer -->
<footer>
    <div class="container">
        <div classs="row">
            <p class="footer-titles">2017 Fab City Research Lab  / Fab Foundation</p>
        </div>
    </div>
</footer>


