<section id="mosaic">
	{% for block in site.data.mosaic %}  
		<div class="col-xs-6 col-sm-4 col-md-4 org-div bg-img" style="background-color: #{{ block.bgcolor }}; background-image: url(../img/backgrounds/{{ block.bgimg }}); ">
			{% if block.onlyimage == false %}
				<a href="{{ block.url }}"target="_blank">
					<table id="wrapper" class="box-grow">
						<tr>
							<td>
								
									<h4>{{ block.organization }}</h4>
									<p>{{ block.description }}</p>
									<img class="org-img" src="/img/logos/{{ block.img }}"></td>
								</a>
						</tr>
					</table>
				</a>
			{% endif %}
		</div>
	{% endfor %}
</section>